document.getElementById('showRegister').addEventListener('click', function() {
    document.getElementById('loginBox').style.display = 'none';
    document.getElementById('registerBox').style.display = 'block';
});

document.getElementById('showLogin').addEventListener('click', function() {
    document.getElementById('registerBox').style.display = 'none';
    document.getElementById('loginBox').style.display = 'block';
});

function registerUser() {
    let user = document.getElementById('registerUser').value;
    let pass = document.getElementById('registerPass').value;

    if (user === "" || pass === "") {
        alert("Todos los campos son obligatorios"); 
        return;
    }

    if (localStorage.getItem(user)) {
        alert("Este usuario ya existe. Prueba con otro.");
        return;
    }

    localStorage.setItem(user, pass); 
    alert("Registro exitoso. Ahora puedes iniciar sesión.");
    
    document.getElementById('registerBox').style.display = 'none';
    document.getElementById('loginBox').style.display = 'block';
}

function loginUser() {
    let user = document.getElementById('loginUser').value;
    let pass = document.getElementById('loginPass').value;

    if (user === "" || pass === "") {
        alert("Todos los campos son obligatorios");
        return;
    }

    let storedPass = localStorage.getItem(user);
    if (storedPass === pass) {
        document.getElementById('loginBox').innerHTML = `
            <h2>Bienvenido, ${user}!</h2>
            <p style="color: #0f0; font-size: 1.5em;">Has iniciado sesión correctamente.</p>
            <button onclick="logoutUser()" style="padding: 10px; background: #0f0; color: #000; font-size: 1.2em; cursor: pointer;">Cerrar Sesión</button>
        `;
    } else {
        alert("Usuario o contraseña incorrecta");
    }
}

function logoutUser() {
    location.reload();
  }
